window:
  # Window padding (changes require restart)
  #
  # Blank space added around the window in pixels. This padding is scaled
  # by DPI and the specified value is always added at both opposing sides.
  padding:
    x: 48
    y: 32

  # Spread additional padding evenly around the terminal content.
  dynamic_padding: true

  opacity: 1.0

# Font configuration
font:
  normal:
    family: Iosevka Term
    style: Semibold

  bold:
    style: Bold

  italic:
    style: Semibold Oblique

  bold_italic:
    style: Bold Italic

  size: 13.0

  # Offset is the extra space around each character. `offset.y` can be thought of
  # as modifying the line spacing, and `offset.x` as modifying the letter spacing.
  offset:
    x: 0
    y: 4
